.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;  // Dodano, aby przycisk i tabela były w jednej kolumnie
  align-items: center;
  padding: 20px;
}

.styled-table {
  text-align: center;
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  thead {
    background-color: #56058D;
    color: #fff;

    th {
      padding: 12px;
      text-align: center;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #e0e0e0;
      transition: background-color 0.3s;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      td {
        padding: 12px;
      }
    }
  }
}

// Stylizacja przycisku "Powrót na stronę główną"
.back-to-home {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;  // Odstęp między przyciskiem a tabelą
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:focus {
    outline: none;  // Usuwa obramowanie po kliknięciu
  }
}
