<div class="table-container">
  <button class="back-to-home" routerLink="/">Home</button>

  <!-- Filters -->
  <div class="filters">
    <label for="searchTitle">Szukaj po tytule:</label>
    <input id="searchTitle" type="text" [(ngModel)]="searchTitle" placeholder="Wpisz tytuł...">
  </div>
  
    <!-- Table with books -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tytuł</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  