<h1 class="page-title">PandaBooks</h1>

<div class="tile-container">
    <a class="tile" routerLink="/star-wars">
      <img src="images/star-wars.jpg" alt="Strona 1" />
      <div class="title">Star Wars</div>
    </a>
    <a class="tile" routerLink="/jo-nesbo">
      <img src="images/nesbo.jpg" alt="Strona 2" />
      <div class="title">Jo Nesbø</div>
    </a>
    <a class="tile" routerLink="/lackberg">
      <img src="images/lackberg.jpg" alt="Strona 3" />
      <div class="title">Camilla Läckberg</div>
    </a>
  </div>
  